html {
    width: 100%;
    height: 100%;
    font-family: 'Amatic SC', cursive;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 51px;
}

.container-fluid {
    padding: 0;
}

#kartice {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.kartica {
    float: left;
    margin-top: 10px;
    margin-left: 10px;

    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}


.front {
    background-image: url("../sets/img/hidden/hide_icon.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border: 2px solid #999;
}

.back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    padding: 10px;
    backface-visibility: hidden;
    border: 2px solid #999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.back p {
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.kartica-content {
    display: block;
    /*height: 100%;*/
    /*width: 100%;*/
    /*line-height: 260px;*/
    /*color: white;*/
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*font-size: 140px;*/
    /*position: absolute;*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}


.kartica-dd {
    border: 2px solid #999;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid;
    border-color: #72B65D;
}
footer p {
    line-height: 50px;
}

.thumbnail-container {
}

.thumbnail {
    border-radius: 0;
    text-align: center;
    padding: 0;
    position: relative;
    border-color: #479030;
    text-decoration: none;
}

.thumbnail:hover {
    border-color: #286C12;
}


.thumbnail img {
    width: 100%;
}

.navbar-default{
    border-color: #72B65D;
}

.navbar-default .navbar-brand {
    color: #479030;
}

.navbar-default .navbar-brand:hover {
    color: #286C12
}

.thumbnail h5 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0;
    background-color: #FF992D;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    color: #286C12
}

.thumbnail:hover h5{
    visibility: visible;
    opacity: 1;
}