html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 51px;
}

.container-fluid {
    padding: 0;
}

#kartice {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.kartica {
    float: left;
    width: 10%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid gray;


    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.front {
    background: red;
}

.back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.kartica-content {
    display: block;
    /*height: 100%;*/
    /*width: 100%;*/
    /*line-height: 260px;*/
    /*color: white;*/
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*font-size: 140px;*/
    /*position: absolute;*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}